/*add-category*/
body {
    background-color: #E6E6E6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }
  
  .admin-dashboard {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #BFBFBF;
    border-radius: 10px;
    background-color: #FFFFFF;
  }
  
  h1, h2 {
    font-size: 24px;
    margin-top: 0;
    color: #333333;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  label {
    margin-top: 16px;
    font-size: 16px;
    color: #333333;
  }
  
  input[type="text"],
  textarea,
  select,
  input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 16px;
    border-radius: 4px;
  }
  
  button[type="submit"].btn-add {
    background-color: #2196F3;
  }
  
  button[type="submit"]:hover {
    opacity: 0.8;
  }
  
  button[type="submit"]:active {
    background-color: #1E8449;
    outline: none;
  }
  

  